html,
body {
	font-size: 14pt;
	font-family: 'Kanit', sans-serif;
	background-color: mediumseagreen;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
button {
	background-color: white;
	border-color: black;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0px;
}
button:hover{
	background-color:mediumturquoise;
	cursor: pointer
}

header {
    background-color: mediumspringgreen;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow */
}

footer {
    background-color: mediumspringgreen;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
    color: white;
}


input[type=radio] {
	--s: 1.2em;     
	--c: black; 
	
	height: var(--s);
	aspect-ratio: 1;
	border: calc(var(--s)/8) solid white;
	padding: calc(var(--s)/8);
	background: 
	   radial-gradient(farthest-side,var(--c) 94%,#0000) 
	   50%/0 0 no-repeat content-box;
	border-radius: 50%;
	outline-offset: calc(var(--s)/10);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	font-size: inherit;
	transition: .3s;
  }
  input[type=radio]:checked {
	border-color: var(--c);
	background-size: 100% 100%;
  }
  
  input[type=radio]:disabled {
	background: 
	   linear-gradient(white 0 0) 
	   50%/100% 20% no-repeat content-box;
	opacity: .5;
	cursor: not-allowed;
  }
  
  @media print {
	input[type=radio] {
	  -webkit-appearance: auto;
	  -moz-appearance: auto;
	  appearance: auto;
	  background: none;
	}
  }
  
  label {
	display:inline-flex;
	align-items:center;
	gap:10px;
	margin:5px 0;
	cursor: pointer;
  }


  #recipeContainer {
    border: 5px solid mediumseagreen;
    border-radius: 10px; 
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
}