html,
body {
	font-size: 14pt;
	font-family: 'Kanit', sans-serif;
	background-color: mediumseagreen;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
button {
	background-color: white;
	border-color: black;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0px;
}
button:hover{
	background-color:mediumturquoise;
	cursor: pointer
}

header {
    background-color: mediumspringgreen;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow */
}

footer {
    background-color: mediumspringgreen;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2); /* Shadow at the top for footer */
    color: white; /* Text color for better contrast */
}
